nvim/
nextjs-nodejs
zed/*
!zde/settings.json
btop/btop.log
raycast/
code-server/
cosmic/
gtk-3.0/
pulse/
dconf/
fcitx/
fcitx5/
ibus/
obs-studio/
vlc/
Code - Insiders/
Code/
gh/
uv/uv-receipt.json
fish/conf.d/

